.container {
  background-color: violet;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-animation: background 1s cubic-bezier(1,0,0,1) infinite;
}

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #ff1a1a; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
} 


#box {
  background-color: black;
  width: 600px;
  height: 600px;
  border-radius: 25px;
  position: relative;
  left: 300;
}

#box1 {
  background-color: black;
  width: 600px;
  height: 600px;
  position: relative;
  left: 900px
  top: 120px;
  border-radius: 25px;
}

#box2 {
  background-color: black;
  width: 600px;
  height: 600px;
  position: relative;
  left: 900px;
  bottom: 1200px;
  border-radius: 25px;
}

#box3 {
  background-color: black;
  width: 600px;
  height: 600px;
  position: relative;
  left: 900px;
  bottom: 1200px;
  border-radius: 25px;
}
}
